/* ~/.config/swaync/style.css */

* {
    font-family: "JetBrainsMono Nerd Font";
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.control-center,
.floating-notifications {
    background: transparent;
}

.notification-row .notification-background {
    background: #1e1e2ee6;
    border: 1px solid #cba6f7;
    border-radius: 16px;
    padding: 6px;
    margin: 6px 12px;
}

.notification-row .notification-background:hover {
    background: #313244e6;
}

.notification-content {
    color: #cdd6f4;
    padding: 6px;
}

.notification-content .summary {
    color: #f5c2e7;
    font-weight: 700;
}

.notification-content .time {
    color: #9399b2;
}

.close-button {
    background: #f38ba8;
    color: #1e1e2e;
    border-radius: 999px;
    padding: 2px 6px;
}

.control-center-list {
    background: transparent;
}

widget-title > box > label {
    color: #cdd6f4;
    font-weight: 800;
    font-size: 16px;
}

widget-title > button {
    background: #cba6f7;
    color: #1e1e2e;
    border-radius: 10px;
    padding: 4px 10px;
}

widget-dnd {
    color: #cdd6f4;
}
